[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docxtpl = "*"
inquirer = "*"
jinxed = "*"
pyqt5 = "*"
install = "*"
mypy = "*"
stringcase = "*"

[dev-packages]
pyqt5-stubs = "*"
mypy = "*"

[requires]
python_version = "3.9"
